/* * {
    background-color: #0d0738;
    color: #ffd700;
} */

.gradient {
    background: linear-gradient(91.57deg, #ea52f8 0%, #0066ff 81.01%);
}

.text-gradient {
    background: linear-gradient(91.57deg, #ea52f8 0%, #0066ff 81.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0d0738;
}

::-webkit-scrollbar-thumb {
    background: #1c1456;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* .border-gradient {
    border: 2px solid #000000;
   
    border-radius: 10px;
    border: double 2px transparent;
    background-image: linear-gradient(white, white) linear-gradient(91.57deg, #ea52f8 0%, #0066ff 81.01%);
    background-origin: border-box;
    background-clip: content-box, border-box;
} */


/* .border-gradient {
    border: 2px solid #5147a6;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* linear-gradient(91.57deg, #ea52f8 0%, #0066ff 81.01%); */


/* 
#a1abff header
#818ad5 subhead
#6971b6 tertiary txt
#3a4179 accent
#080d38 card
#00052e bg */